exclude: |
  (?x)^(
    files/.bashrc.d/01-function.sh|
    files/.bashrc.d/02-load.sh|
    files/.bashrc.d/git-completion.bash|
    files/.bashrc.d/git-flow-completion.bash|
    files/.bashrc.d/git-prompt.sh|
    files/.bashrc.d/zz-alias-completion.bash|
    files/.bin/AM-INSTALLER|
    setup.d/files/function.sh|
    setup.d/files/load.sh
  )$
repos:
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shfmt
        args: [-i 4 -ci -bn -d]
      - id: shellcheck
        args: [-x, -P, SCRIPTDIR]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.6
    hooks:
      # Run the formatter.
      - id: ruff-format
      # Run the linter.
      - id: ruff-check
        args: [--fix, --unsafe-fixes]
