[alias]
	amend-to = "!f() { SHA=`git rev-parse \"$1\"`; git commit --fixup \"$SHA\" && GIT_SEQUENCE_EDITOR=true git rebase --autostash --interactive --autosquash \"$SHA^\";}; f"
	br = branch
	ci = commit --verbose
	co = checkout
	d = difftool
	gr = "log --graph --pretty=format:'%C(red)%h%C(reset)%x09 %C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)' --abbrev-commit --date=relative"
	json = log --format='{ \"hashes\":{ \"commit\":\"%H\", \"tree\":\"%T\", \"parents\":\"%P\" }, \"author\":{ \"date\": \"%ai\", \"name\": \"%an\", \"email\":\"%ae\" }, \"committer\":{ \"date\": \"%ci\", \"name\": \"%cn\", \"email\":\"%ce\" } }'
	last = !git --no-pager gr -20
	root = rev-parse --show-superproject-working-tree --show-toplevel
	st = status
	unstage = reset HEAD --
[branch]
	autosetuprebase = always
[cola]
	spellcheck = true
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[core]
	attributesfile = ~/.gitattributes
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore_global
	pager = sed 's/\\t/        /g' | less -R
	preloadindex = true
	whitespace = cr-at-eol
[credential]
	helper = cache --timeout=86400
[diff]
	algorithm = histogram
	renames = true
	submodule = log
	tool = meld
[diff "tar-gz"]
    binary = true
    textconv = tar -tvzf
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[filter "gitconfig"]
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[filter "vimrc"]
	clean = sed /LOCAL_SCRIPTS_START/,/LOCAL_SCRIPTS_END/d
[git-up "fetch"]
	all = true
	prune = true
[git-up "rebase"]
	arguments = --rerere-autoupdate
[include]
	path = ~/.gitconfig_local
[init]
	templatedir = ~/.git-templates
[merge]
	conflictstyle = diff3
	tool = meld
[mergetool]
	keepBackup = false
[mergetool "meld"]
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[push]
	default = current
[rebase]
	instructionFormat = "[%an @ %ar] %s"
[rerere]
	autoupdate = true
	enabled = 1
[sequence]
	editor = interactive-rebase-tool
[status]
	submoduleSummary = false
[user]
